<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:rpc.properties"/>

    <bean id="serviceDiscovery" class="com.github.watermelon.common.registry.DirectDiscovery">
        <constructor-arg name="serverAddress" value="${rpc.service_address}"/>
    </bean>

    <bean id="loadBalance" class="com.github.watermelon.client.loadbalance.impl.RandomLoadBalance"/>

    <bean id="rpcProxy" class="com.github.watermelon.client.proxy.RpcProxy">
        <constructor-arg name="serviceDiscovery" ref="serviceDiscovery"/>
        <constructor-arg name="loadBalance" ref="loadBalance"/>
    </bean>

</beans>